<!DOCTYPE html>

<html ng-app = "flagQuiz">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
        //ionic css
        <link type="text/css" rel="stylesheet" href="lib/ionic/release/css/ionic.min.css"/>
        //animation css libraries
        <link type="text/css" rel="stylesheet" href="lib/animate.css/animate.min.css"/>
        <!--<link type="text/css" rel="stylesheet" href="lib/magic/magic.min.css" />-->
        <!--<link type="text/css" rel="stylesheet" href="lib/odometer/themes/odometer-theme-minimal.css" />-->
        //famo.us stuff
        <link rel="stylesheet" href="lib/famous-angular/dist/famous-angular.min.css"/>
        //main css
        <link type="text/css" rel="stylesheet" href="css/main.css"/>
        //shake css
        <link type="text/css" rel="stylesheet" href="lib/csshake/csshake.min.css"/>



        <title>State Flag Quiz</title>

        //cordova stuff
        <script type="text/javascript" src="cordova.js"></script>

        //ionic stuff
        <script type="text/javascript" src="lib/ionic/release/js/ionic.bundle.min.js"></script>
        <script type="text/javascript" src="lib/angular-loader/angular-loader.min.js"></script>

        //angular js files
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/services.js"></script>

        //clay.io setup
        <script type="text/javascript">
            var Clay = Clay || {};
            Clay.gameKey = "flaggy";
            Clay.readyFunctions = [];
            Clay.ready = function( fn ) {
                Clay.readyFunctions.push( fn );
            };
            ( function() {
                var clay = document.createElement("script"); clay.async = true;
                clay.src = ( "https:" == document.location.protocol ? "https://" : "http://" ) + "clay.io/api/api.js";
                var tag = document.getElementsByTagName("script")[0]; tag.parentNode.insertBefore(clay, tag);
            } )();
        </script>

        //performance libraries
        <!--<script type="text/javascript" src="lib/angular-bindonce/bindonce.min.js"></script>-->
        <script type="text/javascript" src="lib/quick-ng-repeat/quick-ng-repeat.js"></script>
        <!--<script type="text/javascript" src="lib/odometer/odometer.min.js"></script>-->
        <script type="text/javascript" src="lib/famous/dist/famous-global.min.js"></script>
        <script type="text/javascript" src="lib/famous-angular/dist/famous-angular.min.js"></script>


        <!--<script src="lib/ngCordova/dist/ng-cordova.js"></script>-->


        //howler.js sound handler
        <script type="text/javascript" src="lib/howler/howler.min.js"></script>

        //color transition handler
        <script type="text/javascript" src="lib/sweep/bin/sweep.min.js"></script>

        //kiip integration
        <script type="text/javascript" src="//d3aq14vri881or.cloudfront.net/kiip.js"></script>

    </head>

    <body>



    //menu screen
    <ion-side-menus>
        <ion-side-menu-content >
            <ion-nav-bar class="bar-dark">
                <ion-nav-buttons side="left">
                    <button class="button button-icon" ng-click="toggleLeftSideMenu()"><i class="icon ion-navicon"></i></button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left">
            <ion-header-bar class="bar-dark">
                <h1 class="title">Menu</h1>
            </ion-header-bar>
            <ion-content>
                <ul class="list">

                    <a class="item item-icon-left" nav-transition="none" ui-sref="index">
                        <i class="icon ion-home"></i>
                        Home
                    </a>
                    <a class="item item-icon-left" nav-transition="none" ui-sref="settings">
                        <i class="icon ion-gear-a"></i>
                        Settings
                    </a>
                    <a class="item item-icon-left" nav-transition="none" ui-sref="answers">
                        <i class="icon ion-checkmark-circled"></i>
                        Answers
                    </a>

                </ul>
            </ion-content>

        </ion-side-menu>
    </ion-side-menus>
    //home page
    <script type="text/ng-template" id="home.html">
        <ion-view title="Welcome" ng-controller="homeCtrl">

            <ion-content style="padding-top: 0" id="home" padding="true" scroll="false">

                <div id="homeCard" class="list card homeCardContent">
                    <div class="item item-image" style="background-color: rgba(0,0,0,0) " >
                        <div style=" background-origin:content-box;height:150px;background-position:center;background-repeat: no-repeat; background-size:contain;background-image: url(img/icon_2228.png);padding-top: 5px;padding-bottom: 5px;"></div>
                    </div>
                    <div class="list">
                        <a class="item item-icon-left mainFont" style="color: #000000;" nav-transition="none" ui-sref="play">
                            <i class="icon ion-play balanced"></i>
                            Play
                        </a>
                        <a class="item item-icon-left mainFont" ng-click="showPortal()">
                            <i class="icon ion-cash balanced"></i>
                            Rewards
                            <span class="badge badge-assertive">{{achieveLeft}}</span>
                        </a>
                        <a class="item item-icon-left mainFont" ng-click="show()">
                            <i class="icon ion-podium royal"></i>
                            Leaderboard
                        </a>
                        <a class="item item-icon-left mainFont" ng-click="achieveModal.show()">
                            <i class="icon ion-trophy calm"></i>
                            Achievements
                        </a>
                        <a class="item item-icon-left mainFont">
                            <i class="icon ion-alert assertive"></i>
                            App of the Day
                        </a>
                    </div>

                </div>
                <!--<div class="button-bar">-->
                    <!--<a class="button button-clear button-positive">-->
                        <!--Play-->
                    <!--</a>-->
                    <!--<a class="button button-clear button-energized">-->
                        <!--Multi-Player-->
                    <!--</a>-->
                <!--</div>-->
                <!--<br/>-->

                <!--<div class="button-bar">-->
                    <!--<a class="button button-clear button-balanced ion-cash">-->
                        <!--Rewards-->
                    <!--</a>-->
                    <!--<a class="button button-clear button-calm ion-trophy">-->
                        <!--Achievements-->
                    <!--</a>-->
                <!--</div>-->

                <!--<div class="button-bar">-->
                    <!--<a class="button button-clear button-royal ion-podium">-->
                        <!--Leaderboard-->
                    <!--</a>-->
                    <!--<a class="button button-clear button-assertive ion-alert">-->
                        <!--App of the day-->
                    <!--</a>-->
                <!--</div>-->

                <!--<button class="button button-block button-stable" ng-click="openSettings()">-->
                    <!--Settings-->
                <!--</button>-->
            </ion-content>
        </ion-view>
    </script>
    <!--<script type="text/ng-template" id="mPointsPortal.html">-->
        <!--<ion-modal-view>-->
            <!--<ion-header-bar>-->
                <!--<h1 class="title">My Modal title</h1>-->
            <!--</ion-header-bar>-->
            <!--<ion-content>-->
                <!--<iframe name="thePortal"></iframe>-->
            <!--</ion-content>-->
        <!--</ion-modal-view>-->
    <!--</script>-->
    //gameplay screen
    <script type="text/ng-template" id="play.html"  >
        <ion-view cache-view="false" hide-back-button="true" ng-controller ="playCtrl">
            <ion-nav-buttons></ion-nav-buttons>
            <ion-nav-title id="playScreen">Score:{{score}} Time:<span id="playTime">{{time}}</span> Streak:<span ng-class="streakShake">{{streak}}</span></ion-nav-title>
            <fa-app  class="properMargin" id="famousPlay">

                <fa-scroll-view fa-options="{paginated:true,direction:0}">
                    <fa-view ng-repeat="flag in flags track by flag.id" ng-switch={{::showStuff}}>
                        <fa-modifier fa-size="[deviceWidth,deviceHeight]">
                            <fa-surface>
                                <div style="margin-top:0;margin-bottom:0;height:90vh !important;background-color: rgba(0,0,0,0);" class="list list-inset">
                                    <div style="height: 40%;background-color: rgba(0,0,0,0);" class="item item-image">
                                        <div style="background-position:center;background-repeat:no-repeat;background-origin:content-box;background-size:contain;height:100%;background-image:url({{::flag.src}});"></div>
                                    </div>
                                    <div class="list">
                                        <label style="height: 25%" class="item item-radio">
                                            <input type="radio" name={{::flag.id}} value={{::flag.Answers[0]}} ng-click="verifyAnswer($event)">
                                            <div class="item-content mainFont">
                                                {{::flag.Answers[0]}}
                                            </div>

                                        </label>
                                        <label style="height: 25%" class="item item-radio">
                                            <input type="radio" name={{::flag.id}} value={{::flag.Answers[1]}} ng-click="verifyAnswer($event)">
                                            <div class="item-content mainFont">
                                                {{::flag.Answers[1]}}
                                            </div>

                                        </label>
                                        <label style="height: 25%" class="item item-radio">
                                            <input type="radio" name={{::flag.id}} value={{::flag.Answers[2]}} ng-click="verifyAnswer($event)">
                                            <div class="item-content mainFont">
                                                {{::flag.Answers[2]}}
                                            </div>

                                        </label>
                                        <label style="height: 25%" class="item item-radio">
                                            <input type="radio" name={{::flag.id}} value={{::flag.Answers[3]}} ng-click="verifyAnswer($event)">
                                            <div class="item-content mainFont">
                                                {{::flag.Answers[3]}}
                                            </div>

                                        </label>
                                    </div>
                                </div>
                                <!--<div class="list list-inset">-->
                                    <!--<div class="item item-image">-->
                                        <!--<img height="300" bo-src="flag.src">-->
                                    <!--</div>-->
                                    <!--<div class="list">-->
                                        <!--<label class="item item-radio">-->
                                            <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[0]" ng-click="verifyAnswer($event)">-->
                                            <!--<div class="item-content mainFont" bo-bind="flag.Answers[0]">-->

                                            <!--</div>-->

                                        <!--</label>-->
                                        <!--<label class="item item-radio">-->
                                            <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[1]" ng-click="verifyAnswer($event)">-->
                                            <!--<div class="item-content mainFont" bo-bind="flag.Answers[1]">-->

                                            <!--</div>-->

                                        <!--</label>-->
                                        <!--<label class="item item-radio">-->
                                            <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[2]" ng-click="verifyAnswer($event)">-->
                                            <!--<div class="item-content mainFont" bo-bind="flag.Answers[2]">-->

                                            <!--</div>-->

                                        <!--</label>-->
                                        <!--<label class="item item-radio">-->
                                            <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[3]" ng-click="verifyAnswer($event)">-->
                                            <!--<div class="item-content mainFont" bo-bind="flag.Answers[3]">-->

                                            <!--</div>-->

                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->

                            </fa-surface>
                        </fa-modifier>
                    </fa-view>
                </fa-scroll-view>
            </fa-app>
            <!--<fa-app class="famousPlay">-->

                <!--<fa-modifier fa-size="[auto,auto]">-->
                    <!--<fa-surface>-->
                <!--<ion-slide-box class="rightSpace" disable-scroll="true" show-pager="false" bindonce>-->
                    <!--<ion-slide style=" padding-top:30px;height:90vh" quick-ng-repeat="flag in flags track by flag.id" quick-repeat-list="countries">-->
                        <!--&lt;!&ndash;<ion-content style="top:0;" class="list list-inset">&ndash;&gt;-->

                                <!--&lt;!&ndash;<div class="item item-image">&ndash;&gt;-->

                                    <!--&lt;!&ndash;<img bo-src="flag.src">&ndash;&gt;-->

                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="list">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label class="item item-radio">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[0]" ng-click="verifyAnswer($event)">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="item-content mainFont" bo-bind="flag.Answers[0]">&ndash;&gt;-->

                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label class="item item-radio">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[1]" ng-click="verifyAnswer($event)">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="item-content mainFont" bo-bind="flag.Answers[1]">&ndash;&gt;-->

                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label class="item item-radio">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[2]" ng-click="verifyAnswer($event)">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="item-content mainFont" bo-bind="flag.Answers[2]">&ndash;&gt;-->

                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<label class="item item-radio">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[3]" ng-click="verifyAnswer($event)">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="item-content mainFont" bo-bind="flag.Answers[3]">&ndash;&gt;-->

                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                    <!--&lt;!&ndash;</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->


                        <!--&lt;!&ndash;</ion-content>&ndash;&gt;-->


                                                <!--<div style="margin-top:0;margin-bottom:0;height:90vh !important;background-color: rgba(0,0,0,0);" class="list list-inset">-->
                                                    <!--<div style="height: 40%;background-color: rgba(0,0,0,0);" class="item item-image">-->
                                                        <!--<img style="width:auto !important;max-width:100%;height:100%;" bo-src="flag.src">-->
                                                    <!--</div>-->
                                                    <!--<div class="list">-->
                                                        <!--<label style="height: 25%" class="item item-radio">-->
                                                            <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[0]" ng-click="verifyAnswer($event)">-->
                                                            <!--<div class="item-content mainFont" bo-bind="flag.Answers[0]">-->

                                                            <!--</div>-->

                                                        <!--</label>-->
                                                        <!--<label style="height: 25%" class="item item-radio">-->
                                                            <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[1]" ng-click="verifyAnswer($event)">-->
                                                            <!--<div class="item-content mainFont" bo-bind="flag.Answers[1]">-->

                                                            <!--</div>-->

                                                        <!--</label>-->
                                                        <!--<label style="height: 25%" class="item item-radio">-->
                                                            <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[2]" ng-click="verifyAnswer($event)">-->
                                                            <!--<div class="item-content mainFont" bo-bind="flag.Answers[2]">-->

                                                            <!--</div>-->

                                                        <!--</label>-->
                                                        <!--<label style="height: 25%" class="item item-radio">-->
                                                            <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[3]" ng-click="verifyAnswer($event)">-->
                                                            <!--<div class="item-content mainFont" bo-bind="flag.Answers[3]">-->

                                                            <!--</div>-->

                                                        <!--</label>-->
                                                    <!--</div>-->
                                                <!--</div>-->



                    <!--</ion-slide>-->
                <!--</ion-slide-box>-->
            <!--</fa-surface>-->
            <!--</fa-modifier>-->


            <!--</fa-app>-->
            <!--<div class="performanceContent" bindonce bo-switch="showStuff">-->

                    <!--<div  class="list list-inset" quick-ng-repeat="flag in flags track by flag.id" quick-repeat-list="countries" >-->

                        <!--<div class="item item-image">-->

                            <!--<img bo-src="flag.src">-->

                        <!--</div>-->

                        <!--<div class="list">-->
                            <!--<label class="item item-radio">-->
                                <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[0]" ng-click="verifyAnswer($event)">-->
                                <!--<div class="item-content mainFont" bo-bind="flag.Answers[0]">-->

                                <!--</div>-->

                            <!--</label>-->
                            <!--<label class="item item-radio">-->
                                <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[1]" ng-click="verifyAnswer($event)">-->
                                <!--<div class="item-content mainFont" bo-bind="flag.Answers[1]">-->

                                <!--</div>-->

                            <!--</label>-->
                            <!--<label class="item item-radio">-->
                                <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[2]" ng-click="verifyAnswer($event)">-->
                                <!--<div class="item-content mainFont" bo-bind="flag.Answers[2]">-->

                                <!--</div>-->

                            <!--</label>-->
                            <!--<label class="item item-radio">-->
                                <!--<input type="radio" bo-attr bo-attr-name="flag.id" bo-value="flag.Answers[3]" ng-click="verifyAnswer($event)">-->
                                <!--<div class="item-content mainFont" bo-bind="flag.Answers[3]">-->

                                <!--</div>-->

                            <!--</label>-->
                        <!--</div>-->

                    <!--</div>-->
            <!--</div>-->
            <!--<ion-content class="performanceContent" padding="true">-->

                <!--<div    style="width: 100%; margin-right: 0;margin-left: 0;" class="list list-inset"-->
                        <!--collection-repeat="flag in flags track by flag.id"-->
                        <!--collection-item-width="'100%'"-->
                        <!--collection-item-height="'600'">-->

                    <!--<div class="item item-image">-->

                        <!--<img height="300" ng-src={{flag.src}}>-->

                    <!--</div>-->

                    <!--<div class="list">-->
                        <!--<label class="item item-radio">-->
                            <!--<input type="radio" name={{flag.id}} value={{flag.Answers[0]}} ng-click="verifyAnswer($event)">-->
                            <!--<div class="item-content mainFont" >-->
                                <!--{{flag.Answers[0]}}-->
                            <!--</div>-->

                        <!--</label>-->
                        <!--<label class="item item-radio">-->
                            <!--<input type="radio" name={{flag.id}} value={{flag.Answers[1]}} ng-click="verifyAnswer($event)">-->
                            <!--<div class="item-content mainFont" >-->
                                <!--{{flag.Answers[1]}}-->
                            <!--</div>-->

                        <!--</label>-->
                        <!--<label class="item item-radio">-->
                            <!--<input type="radio" name={{flag.id}} value={{flag.Answers[2]}} ng-click="verifyAnswer($event)">-->
                            <!--<div class="item-content mainFont">-->
                                <!--{{flag.Answers[2]}}-->
                            <!--</div>-->

                        <!--</label>-->
                        <!--<label class="item item-radio">-->
                            <!--<input type="radio" name={{flag.id}} value={{flag.Answers[3]}} ng-click="verifyAnswer($event)">-->
                            <!--<div class="item-content mainFont" >-->
                                <!--{{flag.Answers[3]}}-->
                            <!--</div>-->

                        <!--</label>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</ion-content>-->
        </ion-view>
    </script>

    //settings page
    <script type="text/ng-template" id="settings.html" >
        <ion-view class="properMargin" title="Settings"  ng-controller ="settingsCtrl">
            <ion-content  padding="true" >

                <ul class="list">
                    <li class="item item-toggle">
                        Toggle Sound  {{feedBack.soundStatus}}
                        <label class="toggle toggle-royal">
                            <input type="checkbox" ng-model="feedBack.soundStatus" ng-true-value="'ON'" ng-false-value="'OFF'">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Toggle Vibration  {{feedBack.vibrationStatus}}
                        <label class="toggle toggle-energized">
                            <input type="checkbox" ng-model="feedBack.vibrationStatus" ng-true-value="'ON'" ng-false-value="'OFF'">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>

            </ion-content>
        </ion-view>
    </script>
    <script id="leaderboard.html" type="text/ng-template">
        <ion-modal-view style="background-color: rgba(0,0,0,0); margin-top: 20px;">
            <ion-header-bar style=" width:auto;margin-left: 10px;margin-right: 10px;">
                <i class=" button-icon icon ion-podium royal"></i>
                <h1 class="title">High Scores</h1>
                <button class="button button-icon icon ion-close" ng-click="modal.hide()"></button>
            </ion-header-bar>
            <ion-content scroll="false">
                <ul  style="margin-top: 0" class="list list-inset">
                    <li class="item row">
                        <div style="font-weight: bold" class="col col-25">Rank</div>
                        <div style="font-weight: bold" class="col col-50">Name</div>
                        <div style="font-weight: bold" class="col col-25">Score</div>
                    </li>
                    <li class="item row" ng-class="{'item-divider':highScore.me}" ng-repeat="highScore in highScores">
                        <div class="col col-25">{{highScore.rank}}</div>
                        <div class="col col-50">{{highScore.name}}</div>
                        <div class="col col-25">{{highScore.score}}</div>
                    </li>
                </ul>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="achievements.html" type="text/ng-template">
        <ion-modal-view style="background-color: rgba(0,0,0,0); margin-top: 20px;">
            <ion-header-bar style=" width:auto;margin-left: 10px;margin-right: 10px;">
                <i class="button-icon icon ion-trophy calm"></i>
                <h1 class="title">Achievements</h1>
                <button class="button button-icon icon ion-close" ng-click="achieveModal.hide()"></button>
            </ion-header-bar>
            <ion-content scroll="false" >
                <ul  style="margin-top: 0" class="list list-inset">

                    <li class="item item-checkbox checkbox-balanced mainFont">
                        <label class="checkbox">
                            <input type="checkbox" ng-checked="check1" ng-disabled="!check1">
                        </label>
                        10 Points!
                    </li>
                    <li class="item item-checkbox checkbox-balanced mainFont">
                        <label class="checkbox">
                            <input type="checkbox" ng-checked="check2" ng-disabled="!check2">
                        </label>
                        20 Points!
                    </li>
                    <li class="item item-checkbox checkbox-balanced mainFont">
                        <label class="checkbox">
                            <input type="checkbox" ng-checked="check3" ng-disabled="!check3">
                        </label>
                        30 Points!
                    </li>
                    <li class="item item-checkbox checkbox-balanced mainFont">
                        <label class="checkbox">
                            <input type="checkbox" ng-checked="check4" ng-disabled="!check4">
                        </label>
                        40 Points!
                    </li>
                    <li class="item item-checkbox checkbox-balanced mainFont">
                        <label class="checkbox">
                            <input type="checkbox" ng-checked="check5" ng-disabled="!check5">
                        </label>
                        50 Points!
                    </li>
                    <li class="item item-checkbox checkbox-balanced mainFont">
                        <label class="checkbox">
                            <input type="checkbox" ng-checked="check6" ng-disabled="!check6">
                        </label>
                        150 Points!
                    </li>
                    <li class="item item-checkbox checkbox-balanced mainFont">
                        <label class="checkbox">
                            <input type="checkbox" ng-checked="check7" ng-disabled="!check7">
                        </label>
                        193 Points!
                    </li>
                </ul>
            </ion-content>
        </ion-modal-view>
    </script>
    <!--//achievements explanation page-->
    <!--<script type="text/ng-template" id="achievements.html" >-->
        <!--<ion-view title="Achievements">-->
            <!--<ion-content padding="true">-->

            <!--</ion-content>-->
        <!--</ion-view>-->
    <!--</script>-->

    //score page
    <script type="text/ng-template" id="score.html" >
        <ion-view class="properMargin" cache-view="false" ng-controller="scoresCtrl">
            <ion-nav-title>Scores</ion-nav-title>
            <ion-content   padding="true" >
                <div class="list card">
                    <li class="item row">
                        <div style="font-weight: bold" class="col col-25">Score</div>
                        <div style="font-weight: bold" class="col col-25">Streak</div>
                        <div style="font-weight: bold" class="col col-25">#Of Flags</div>
                        <div style="font-weight: bold" class="col col-25">%Correct</div>
                    </li>
                    <li class="item row">
                        <div style="font-weight: bold" class="col col-25">{{score}}</div>
                        <div style="font-weight: bold" class="col col-25">{{bestStreak}}</div>
                        <div style="font-weight: bold" class="col col-25">{{flagCount}}</div>
                        <div style="font-weight: bold" class="col col-25">{{((score/flagCount)*100).toFixed(2)}}</div>
                    </li>
                    <a  class="item item-icon-left mainFont" nav-transition="none" ui-sref="play">
                        <i class="icon ion-play balanced"></i>
                        Play Again
                    </a>
                    <a class="item item-icon-left mainFont" ng-click="show()">
                        <i class="icon ion-podium royal"></i>
                        Leaderboard
                    </a>
                    <a class="item item-icon-left mainFont" ng-click="achieveModal.show()">
                        <i class="icon ion-trophy calm"></i>
                        Achievements
                    </a>
                    <a href="#" class="item item-icon-left mainFont">
                        <i class="icon ion-cash balanced"></i>
                        Rewards
                        <span class="badge badge-assertive">{{achieveLeft}}</span>
                    </a>
                </div>

            </ion-content>
        </ion-view>
    </script>

    <script type="text/ng-template" id="answers.html" >
        <ion-view title="Answers" ng-controller="answersCtrl" >
            <ion-content>
                <div class="list">
                    <label class="item my-item item-thumbnail-left"
                         collection-repeat="item in flags"
                         collection-item-width="'100%'"
                         collection-item-height="95"
                         name={{item.id}}
                         >
                        <img ng-src="{{item.src}}" >
                        {{item.id}}


                    </label>
                </div>
            </ion-content>
        </ion-view>
    </script>

    </body>

</html>
