/*.my-item {*/
    /*left: 0;*/
    /*right: 0;*/
    /*padding: 0;*/
    /*top: 20px;*/
    /*border:0;*/
    /*height: 480px;*/

/*}*/

/*.gridRow{*/
/*height: 600px;*/

/*}*/
/*.fastScroll{*/
    /*overflow-x: auto;*/
    /*overflow-y: scroll;*/
    /*-webkit-overflow-scrolling:touch;*/
/*}*/
.scrollGood{
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
}
.properSpace{
    white-space: pre-wrap !important;
}
/*.flagDimensions{*/
    /*width:auto;*/
    /*height:auto;*/
/*}*/

::-webkit-scrollbar {
    display: none;
}

.list .my-item.item {
    left: 0;
    right: 0;
}

.Accel{
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s ;
}

.wrapTheThings{
    white-space: normal !important;
}

.dividingLine{
    border-top: 1px solid;
}

.properMargin::before{
    /*transform: translateZ(0);*/
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    /*z-index: -1;*/
    display: block;
    background:
    /*linear-gradient(*/
            /*rgba(74, 135, 238, 0.45),*/
            /*rgba(74, 135, 238, 0.45)*/
    /*),*/
    url("../img/blue-all-Flag-Background.jpg");
    width: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
}
.fullScreen{
    height: auto;
    margin-bottom: 10px;
}
.performanceContent{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling:touch;
    /*margin-top: 44px;*/
    /*padding-bottom: 10px;*/

}
.performanceContent::before{
    /*transform: translateZ(0);*/
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    /*z-index: -1;*/
    display: block;
    background:
    /*linear-gradient(*/
            /*rgba(74, 135, 238, 0.45),*/
            /*rgba(74, 135, 238, 0.45)*/
    /*),*/
    url("../img/blue-all-Flag-Background.jpg");
    width: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
}
.properMargin{
    margin-top: 44px;
}
.properPadding{
    margin-left: 10px;
    margin-right: 10px;
}
.title{
     /*color: #000000 !important;*/
    /*font-family: juraFont;*/
    font-family: Georgia, Palatino, serif;
    /*font-weight: bold;*/
    font-size: xx-large !important;
 }

#playScreen{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    /*font-size: medium !important;*/
    font-size: 60%;
}

/*@font-face {*/
    /*font-family: juraFont;*/
    /*src: url(../fonts/Jura-Bold.ttf);*/
/*}*/

.mainFont{
    /*font-family: juraFont;*/
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    font-size: large;
}

.homeCardContent{
    margin-top: 5px;
    background-color: rgba(0,0,0,0) ;
}

#home.scroll-content::before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background:
    /*linear-gradient(*/
            /*rgba(74, 135, 238, 0.45),*/
            /*rgba(74, 135, 238, 0.45)*/
    /*),*/
    url("../img/blue-all-Flag-Background.jpg");
    width: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
}
.correctPosition{
    top: 0; !important;
    padding-left:10px;
    padding-right:10px;
}
/*div.scroll{*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
/*}*/
.famousPlay{
    /*margin-top:44px;*/
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.rightStuff{
    margin: 0 !important;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.fa-surface{
    padding-top: 30px;
}
div.title.title-center.header-item{
    margin-left: 0;
    margin-right: 0;
}
.rightSpace::before{
    /*transform: translateZ(0);*/
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    /*z-index: -1;*/
    display: block;
    background:
    /*linear-gradient(*/
            /*rgba(74, 135, 238, 0.45),*/
            /*rgba(74, 135, 238, 0.45)*/
    /*),*/
    url("../img/blue-all-Flag-Background.jpg");
    width: 100vh;
    height: 100vh;
    background-repeat: no-repeat;
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(5px);*/
    /*-o-filter: blur(5px);*/
    /*-ms-filter: blur(5px);*/
    /*filter: blur(5px);*/
}